<ion-view>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="savePassWord()">
            保存
        </button>
    </ion-nav-buttons>
    <ion-content class="bgcolor">
        <div class="modifyPassWord">
            <div class="mainContent">
                <p><span>原密码</span><input ng-model="PassModel.OLDPWD" type="password" /></p>
                <p><span>新密码</span><input ng-model="PassModel.NEWPWD" type="password" /></p>
                <p><span>再次输入新密码</span><input ng-model="PassModel.NEWPWD2" type="password"></p>
            </div>
            <div class="TipDiv" ng-show="PassModel.NEWPWD!=PassModel.NEWPWD2">
                {{TipText}}
            </div>
            <!--<div align="center">
                <button ng-click="savePassWord()" class="btn-login button button-energized">确定</button>
            </div>-->
        </div>
    </ion-content>
</ion-view>