@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o0lvv');
  src:
      url('../fonts/icomoon.svg?o0lvv#icomoon') format('svg'),
      url('../fonts/icomoon.eot?o0lvv#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?o0lvv') format('truetype'),
      url('../fonts/icomoon.woff?o0lvv') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-add2:before {
  content: "\e901";
}
.icon-addpage:before {
  content: "\e902";
}
.icon-add-repository:before {
  content: "\e903";
}
.icon-add-resource:before {
  content: "\e904";
}
.icon-all-project:before {
  content: "\e905";
}
.icon-already-delete:before {
  content: "\e906";
}
.icon-already-edit:before {
  content: "\e907";
}
.icon-already-read:before {
  content: "\e908";
}
.icon-anchor:before {
  content: "\e909";
}
.icon-apply-delay-action:before {
  content: "\e90a";
}
.icon-apply-meeting:before {
  content: "\e90b";
}
.icon-apply-publicity:before {
  content: "\e90c";
}
.icon-attachment:before {
  content: "\e90d";
}
.icon-attention1:before {
  content: "\e90e";
}
.icon-attention2:before {
  content: "\e90f";
}
.icon-backhome:before {
  content: "\e910";
}
.icon-backtop:before {
  content: "\e911";
}
.icon-Back-to-Top:before {
  content: "\e912";
}
.icon-baidumap:before {
  content: "\e913";
}
.icon-banjie-work:before {
  content: "\e914";
}
.icon-basic-level:before {
  content: "\e915";
}
.icon-batch-delete:before {
  content: "\e916";
}
.icon-bold:before {
  content: "\e917";
}
.icon-by-entrust-record:before {
  content: "\e918";
}
.icon-by-entrust-rule:before {
  content: "\e919";
}
.icon-CAD:before {
  content: "\e91a";
}
.icon-cailiao:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91c";
}
.icon-cancel-delay-action:before {
  content: "\e91d";
}
.icon-can-edit:before {
  content: "\e91e";
}
.icon-card-view:before {
  content: "\e91f";
}
.icon-case:before {
  content: "\e920";
}
.icon-case02:before {
  content: "\e921";
}
.icon-certificate-statistics:before {
  content: "\e922";
}
.icon-chart-view:before {
  content: "\e923";
}
.icon-check-attachment:before {
  content: "\e924";
}
.icon-check-credential:before {
  content: "\e925";
}
.icon-circulate-perusal:before {
  content: "\e926";
}
.icon-classify-view:before {
  content: "\e927";
}
.icon-Clock:before {
  content: "\e928";
}
.icon-close:before {
  content: "\e929";
}
.icon-countersign:before {
  content: "\e92a";
}
.icon-country-industry:before {
  content: "\e92b";
}
.icon-DAGL:before {
  content: "\e92c";
}
.icon-daiban-work:before {
  content: "\e92d";
}
.icon-delete:before {
  content: "\e92e";
}
.icon-discard:before {
  content: "\e92f";
}
.icon-discard-project:before {
  content: "\e930";
}
.icon-discard-work:before {
  content: "\e931";
}
.icon-dot:before {
  content: "\e932";
}
.icon-download:before {
  content: "\e933";
}
.icon-download-folder:before {
  content: "\e934";
}
.icon-draw-redline:before {
  content: "\e935";
}
.icon-drop-down-arrow:before {
  content: "\e936";
}
.icon-emoticons:before {
  content: "\e937";
}
.icon-empty-view:before {
  content: "\e938";
}
.icon-entrust-record:before {
  content: "\e939";
}
.icon-entrust-rule:before {
  content: "\e93a";
}
.icon-especially-send:before {
  content: "\e93b";
}
.icon-essential-info:before {
  content: "\e93c";
}
.icon-examine-flow-info:before {
  content: "\e93d";
}
.icon-examine-relevance-photo:before {
  content: "\e93e";
}
.icon-exit:before {
  content: "\e93f";
}
.icon-exiteditor:before {
  content: "\e940";
}
.icon-Exit-full-screen:before {
  content: "\e941";
}
.icon-F-ctrl:before {
  content: "\e942";
}
.icon-filemanagement01:before {
  content: "\e943";
}
.icon-filemanagement02:before {
  content: "\e944";
}
.icon-filemanagement022:before {
  content: "\e945";
}
.icon-finish-project:before {
  content: "\e946";
}
.icon-fontname:before {
  content: "\e947";
}
.icon-fontsize:before {
  content: "\e948";
}
.icon-forecolor:before {
  content: "\e949";
}
.icon-form:before {
  content: "\e94a";
}
.icon-formatblock:before {
  content: "\e94b";
}
.icon-form-download:before {
  content: "\e94c";
}
.icon-full-screen:before {
  content: "\e94d";
}
.icon-FXFK:before {
  content: "\e94e";
}
.icon-get-back:before {
  content: "\e94f";
}
.icon-GHBZ:before {
  content: "\e950";
}
.icon-GHYZT:before {
  content: "\e951";
}
.icon-hilitecolor:before {
  content: "\e952";
}
.icon-homeedit:before {
  content: "\e953";
}
.icon-hr:before {
  content: "\e954";
}
.icon-huabicuxi:before {
  content: "\e955";
}
.icon-huanban-work:before {
  content: "\e956";
}
.icon-HYGL:before {
  content: "\e957";
}
.icon-identification:before {
  content: "\e958";
}
.icon-image:before {
  content: "\e959";
}
.icon-indent:before {
  content: "\e95a";
}
.icon-index:before {
  content: "\e95b";
}
.icon-individual:before {
  content: "\e95c";
}
.icon-inprogress:before {
  content: "\e95d";
}
.icon-insertfile:before {
  content: "\e95e";
}
.icon-insertorderedlist:before {
  content: "\e95f";
}
.icon-insertunorderedlist:before {
  content: "\e960";
}
.icon-italic:before {
  content: "\e961";
}
.icon-justifycenter:before {
  content: "\e962";
}
.icon-justifyfull:before {
  content: "\e963";
}
.icon-justifyleft:before {
  content: "\e964";
}
.icon-justifyright:before {
  content: "\e965";
}
.icon-LawGuide:before {
  content: "\e966";
}
.icon-laws-regulations:before {
  content: "\e967";
}
.icon-lay:before {
  content: "\e968";
}
.icon-left-arrow:before {
  content: "\e969";
}
.icon-left-arrows:before {
  content: "\e96a";
}
.icon-lineheight:before {
  content: "\e96b";
}
.icon-link:before {
  content: "\e96c";
}
.icon-list-format-group:before {
  content: "\e96d";
}
.icon-list-view:before {
  content: "\e96e";
}
.icon-loading:before {
  content: "\e96f";
}
.icon-menu:before {
  content: "\e970";
}
.icon-more:before {
  content: "\e971";
}
.icon-multiimage:before {
  content: "\e972";
}
.icon-my-attention:before {
  content: "\e973";
}
.icon-my-repository:before {
  content: "\e974";
}
.icon-mywork:before {
  content: "\e975";
}
.icon-next-page:before {
  content: "\e976";
}
.icon-node:before {
  content: "\e977";
}
.icon-noread:before {
  content: "\e978";
}
.icon-no-read:before {
  content: "\e979";
}
.icon-ok:before {
  content: "\e97a";
}
.icon-opinion-bar:before {
  content: "\e97b";
}
.icon-organization:before {
  content: "\e97c";
}
.icon-other-already-read:before {
  content: "\e97d";
}
.icon-other-group:before {
  content: "\e97e";
}
.icon-other-no-read:before {
  content: "\e97f";
}
.icon-outdent:before {
  content: "\e980";
}
.icon-over:before {
  content: "\e981";
}
.icon-overtime:before {
  content: "\e982";
}
.icon-pagebreak:before {
  content: "\e983";
}
.icon-password:before {
  content: "\e984";
}
.icon-paste-group:before {
  content: "\e985";
}
.icon-pdownload:before {
  content: "\e986";
}
.icon-PHGL:before {
  content: "\e987";
}
.icon-plainpaste:before {
  content: "\e988";
}
.icon-plan-view:before {
  content: "\e989";
}
.icon-practice-inquire:before {
  content: "\e98a";
}
.icon-practice-statistics:before {
  content: "\e98b";
}
.icon-Preview:before {
  content: "\e98c";
}
.icon-previous-page:before {
  content: "\e98d";
}
.icon-print:before {
  content: "\e98e";
}
.icon-print-credential:before {
  content: "\e98f";
}
.icon-project-inquire:before {
  content: "\e990";
}
.icon-Project-Ledger:before {
  content: "\e991";
}
.icon-province:before {
  content: "\e992";
}
.icon-quickformat:before {
  content: "\e993";
}
.icon-read-only:before {
  content: "\e994";
}
.icon-Receive-message:before {
  content: "\e995";
}
.icon-recover:before {
  content: "\e996";
}
.icon-redo:before {
  content: "\e997";
}
.icon-relatedbusiness:before {
  content: "\e998";
}
.icon-relevance-doc:before {
  content: "\e999";
}
.icon-relevance-work:before {
  content: "\e99a";
}
.icon-Remark:before {
  content: "\e99b";
}
.icon-removeformat:before {
  content: "\e99c";
}
.icon-returnportal:before {
  content: "\e99d";
}
.icon-revamp-basicinfo:before {
  content: "\e99e";
}
.icon-revamp-headportrait:before {
  content: "\e99f";
}
.icon-revamp-password:before {
  content: "\e9a0";
}
.icon-save:before {
  content: "\e9a1";
}
.icon-search:before {
  content: "\e9a2";
}
.icon-selectall:before {
  content: "\e9a3";
}
.icon-send:before {
  content: "\e9a4";
}
.icon-send-back:before {
  content: "\e9a5";
}
.icon-send-file:before {
  content: "\e9a6";
}
.icon-send-message:before {
  content: "\e9a7";
}
.icon-set:before {
  content: "\e9a8";
}
.icon-start:before {
  content: "\e9a9";
}
.icon-strikethrough:before {
  content: "\e9aa";
}
.icon-subscript:before {
  content: "\e9ab";
}
.icon-superscript:before {
  content: "\e9ac";
}
.icon-Supervision:before {
  content: "\e9ad";
}
.icon-supervision2:before {
  content: "\e9ae";
}
.icon-table:before {
  content: "\e9af";
}
.icon-template:before {
  content: "\e9b0";
}
.icon-transact:before {
  content: "\e9b1";
}
.icon-transform:before {
  content: "\e9b2";
}
.icon-underline:before {
  content: "\e9b3";
}
.icon-undo:before {
  content: "\e9b4";
}
.icon-unexecut:before {
  content: "\e9b5";
}
.icon-unlink:before {
  content: "\e9b6";
}
.icon-updown-shrink:before {
  content: "\e9b7";
}
.icon-updown-shrink2:before {
  content: "\e9b8";
}
.icon-uploading:before {
  content: "\e9b9";
}
.icon-uploading-file:before {
  content: "\e9ba";
}
.icon-uploading-folder:before {
  content: "\e9bb";
}
.icon-username:before {
  content: "\e9bc";
}
.icon-U-top:before {
  content: "\e9bd";
}
.icon-warning:before {
  content: "\e9be";
}
.icon-wordpaste:before {
  content: "\e9bf";
}
.icon-work-entrust:before {
  content: "\e9c0";
}
.icon-work-flow:before {
  content: "\e9c1";
}
.icon-working-system:before {
  content: "\e9c2";
}
.icon-work-inquire:before {
  content: "\e9c3";
}
.icon-work-monitoring:before {
  content: "\e9c4";
}
.icon-work-recycle-bin:before {
  content: "\e9c5";
}
.icon-write-form:before {
  content: "\e9c6";
}
.icon-XZBG:before {
  content: "\e9c7";
}
.icon-yiban-work:before {
  content: "\e9c8";
}
.icon-Y-top:before {
  content: "\e9c9";
}
.icon-YWSP:before {
  content: "\e9ca";
}
.icon-zaiban-project:before {
  content: "\e9cb";
}
.icon-zoom-in:before {
  content: "\e9cc";
}
.icon-Zoom-out:before {
  content: "\e9cd";
}

